* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 20px 0;
}

.navbar ul li {
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all 0.5s ease;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* Home section */
#home {
    display: flex;
    flex-direction: column;
    background-color: rgba(202, 168, 168, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

#home::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    background: url('Port.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}

.headings {
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0;
}

.btn {
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: 0.6s ease;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}

/* About Section */
#about {
    background: rgb(224, 205, 205);
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 50px;
}

#pic {
    display: flex;
    background-color: rgb(224, 205, 205);
}

#pic img {
    width: 200px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(rgb(150, 204, 205), rgb(234, 184, 90), rgb(242, 83, 109), rgb(90, 90, 169), rgb(9, 131, 9));
    padding: 3px;
}

#intro {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    font-size: large;
}

#intro h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    padding: 10px;
}

/* Portfolio section */
#portfolio {
    background: rgb(201, 118, 118);
    display: flex;
    flex-direction: column;
    color: rgb(234, 237, 224);
}

.gallery {
    background: rgb(224, 205, 205);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.gallery img {
    width: 360px;
    height: 240px;
    margin: 10px;
}

/* Education */
#education {
    background: rgb(225, 195, 195);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    border: 3px solid #ccc;
}

#education1 {
    background: rgba(218, 146, 149, 0.744);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.edu h1 {
    font-size: 20px;
    margin: 5px 0;
    color: #030a10;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.edu:hover {
    cursor: pointer;
    background-color: rgb(224, 205, 205);
    color: rgb(15, 11, 11);
    box-shadow: 0 0 5px rgb(155, 124, 124), 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}

.edu p {
    font-size: 20px;
    margin: 5px 0;
    color: #0b0b13;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: linear-gradient(to top, rgb(255, 45, 45) 50%);
}

/* Skills */
#skills {
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 224, 224);
    color: rgb(15, 11, 11);
    box-shadow: 0 0 5px rgb(190, 153, 153), 0 0 10px white, 0 0 15px white;
}

.row {
    background: rgba(196, 174, 174, 0.744);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.box {
    background: rgba(207, 174, 175, 0.744);
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    border: 1px solid rgb(24, 8, 8);
    margin: 20px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(239, 236, 232) 50%, rgb(174, 178, 135) 50%);
    background-size: 100% 200%;
    transition: all 0.8s;
}

.box:hover {
    background-position: left bottom;
    color: rgb(215, 170, 170);
    border: none;
    box-shadow: 0 0 20px rgba(136, 209, 207, 0.744);
}

.box img {
    width: 50px;
    height: 50px;
    background-color: rgb(6, 5, 5);
    padding: 20px;
}

/* Contact Section */
#contact {
    background: rgb(159, 121, 121);
    display: flex;
    flex-direction: column;
    background-color: rgba(7, 2, 2, 0.5);
    color: rgb(8, 9, 7);
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}

#msg {
    width: 30%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

#send {
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
}

#send:hover {
    cursor: pointer;
    box-shadow: 0 0 10px white;
}
